
AssessoriaCartoesApi.Data/bin/Release/net5.0/AssessoriaCartoesApi.Data.deps.json
AssessoriaCartoesApi.Data/bin/Release/net5.0/AssessoriaCartoesApi.Data.dll
AssessoriaCartoesApi.Data/bin/Release/net5.0/AssessoriaCartoesApi.Data.pdb
AssessoriaCartoesApi.Data/bin/Release/net5.0/AssessoriaCartoesApi.Data.runtimeconfig.dev.json
AssessoriaCartoesApi.Data/bin/Release/net5.0/AssessoriaCartoesApi.Data.runtimeconfig.json
AssessoriaCartoesApi.Data/bin/Release/net5.0/ref/AssessoriaCartoesApi.Data.dll
AssessoriaCartoesApi.Data/obj/project.assets.json
AssessoriaCartoesApi.Data/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
AssessoriaCartoesApi.Data/obj/Release/net5.0/AssessoriaCartoesApi.Data.AssemblyInfo.cs
AssessoriaCartoesApi.Data/obj/Release/net5.0/AssessoriaCartoesApi.Data.AssemblyInfoInputs.cache
AssessoriaCartoesApi.Data/obj/Release/net5.0/AssessoriaCartoesApi.Data.assets.cache
AssessoriaCartoesApi.Data/obj/Release/net5.0/AssessoriaCartoesApi.Data.csproj.CoreCompileInputs.cache
AssessoriaCartoesApi.Data/obj/Release/net5.0/AssessoriaCartoesApi.Data.csproj.FileListAbsolute.txt
AssessoriaCartoesApi.Data/obj/Release/net5.0/AssessoriaCartoesApi.Data.dll
AssessoriaCartoesApi.Data/obj/Release/net5.0/AssessoriaCartoesApi.Data.GeneratedMSBuildEditorConfig.editorconfig
AssessoriaCartoesApi.Data/obj/Release/net5.0/AssessoriaCartoesApi.Data.genruntimeconfig.cache
AssessoriaCartoesApi.Data/obj/Release/net5.0/AssessoriaCartoesApi.Data.pdb
AssessoriaCartoesApi.Data/obj/Release/net5.0/ref/AssessoriaCartoesApi.Data.dll
AssessoriaCartoesApi.Data/obj/AssessoriaCartoesApi.Data.csproj.nuget.dgspec.json
AssessoriaCartoesApi.Data/obj/AssessoriaCartoesApi.Data.csproj.nuget.g.props
AssessoriaCartoesApi.Data/obj/AssessoriaCartoesApi.Data.csproj.nuget.g.targets
AssessoriaCartoesApi.Data/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
AssessoriaCartoesApi.Data/obj/Debug/net5.0/AssessoriaCartoesApi.Data.assets.cache
AssessoriaCartoesApi.Data/obj/Debug/net5.0/AssessoriaCartoesApi.Data.csproj.FileListAbsolute.txt
AssessoriaCartoesApi/bin/Release/net5.0/appsettings.Development.json
AssessoriaCartoesApi/bin/Release/net5.0/appsettings.json
AssessoriaCartoesApi/bin/Release/net5.0/AssessoriaCartoesApi.Data.dll
AssessoriaCartoesApi/bin/Release/net5.0/AssessoriaCartoesApi.Data.pdb
AssessoriaCartoesApi/bin/Release/net5.0/AssessoriaCartoesApi.deps.json
AssessoriaCartoesApi/bin/Release/net5.0/AssessoriaCartoesApi.dll
AssessoriaCartoesApi/bin/Release/net5.0/AssessoriaCartoesApi.exe
AssessoriaCartoesApi/bin/Release/net5.0/AssessoriaCartoesApi.pdb
AssessoriaCartoesApi/bin/Release/net5.0/AssessoriaCartoesApi.runtimeconfig.dev.json
AssessoriaCartoesApi/bin/Release/net5.0/AssessoriaCartoesApi.runtimeconfig.json
AssessoriaCartoesApi/bin/Release/net5.0/ca/Hangfire.Core.resources.dll
AssessoriaCartoesApi/bin/Release/net5.0/Dapper.dll
AssessoriaCartoesApi/bin/Release/net5.0/de/Hangfire.Core.resources.dll
AssessoriaCartoesApi/bin/Release/net5.0/es/Hangfire.Core.resources.dll
AssessoriaCartoesApi/bin/Release/net5.0/fa/Hangfire.Core.resources.dll
AssessoriaCartoesApi/bin/Release/net5.0/fr/Hangfire.Core.resources.dll
AssessoriaCartoesApi/bin/Release/net5.0/Hangfire.AspNetCore.dll
AssessoriaCartoesApi/bin/Release/net5.0/Hangfire.Core.dll
AssessoriaCartoesApi/bin/Release/net5.0/Hangfire.MemoryStorage.dll
AssessoriaCartoesApi/bin/Release/net5.0/Hangfire.PostgreSql.dll
AssessoriaCartoesApi/bin/Release/net5.0/HangfireBasicAuthenticationFilter.dll
AssessoriaCartoesApi/bin/Release/net5.0/Humanizer.dll
AssessoriaCartoesApi/bin/Release/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
AssessoriaCartoesApi/bin/Release/net5.0/Microsoft.EntityFrameworkCore.Design.dll
AssessoriaCartoesApi/bin/Release/net5.0/Microsoft.EntityFrameworkCore.dll
AssessoriaCartoesApi/bin/Release/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
AssessoriaCartoesApi/bin/Release/net5.0/Microsoft.Extensions.DependencyInjection.dll
AssessoriaCartoesApi/bin/Release/net5.0/Microsoft.OpenApi.dll
AssessoriaCartoesApi/bin/Release/net5.0/nb/Hangfire.Core.resources.dll
AssessoriaCartoesApi/bin/Release/net5.0/Newtonsoft.Json.dll
AssessoriaCartoesApi/bin/Release/net5.0/nl/Hangfire.Core.resources.dll
AssessoriaCartoesApi/bin/Release/net5.0/Npgsql.dll
AssessoriaCartoesApi/bin/Release/net5.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
AssessoriaCartoesApi/bin/Release/net5.0/pt-BR/Hangfire.Core.resources.dll
AssessoriaCartoesApi/bin/Release/net5.0/pt-PT/Hangfire.Core.resources.dll
AssessoriaCartoesApi/bin/Release/net5.0/pt/Hangfire.Core.resources.dll
AssessoriaCartoesApi/bin/Release/net5.0/ref/AssessoriaCartoesApi.dll
AssessoriaCartoesApi/bin/Release/net5.0/Swashbuckle.AspNetCore.Swagger.dll
AssessoriaCartoesApi/bin/Release/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
AssessoriaCartoesApi/bin/Release/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
AssessoriaCartoesApi/bin/Release/net5.0/System.Diagnostics.DiagnosticSource.dll
AssessoriaCartoesApi/bin/Release/net5.0/tr-TR/Hangfire.Core.resources.dll
AssessoriaCartoesApi/bin/Release/net5.0/zh-TW/Hangfire.Core.resources.dll
AssessoriaCartoesApi/bin/Release/net5.0/zh/Hangfire.Core.resources.dll
AssessoriaCartoesApi/obj/AssessoriaCartoesApi.csproj.nuget.dgspec.json
AssessoriaCartoesApi/obj/AssessoriaCartoesApi.csproj.nuget.g.props
AssessoriaCartoesApi/obj/AssessoriaCartoesApi.csproj.nuget.g.targets
AssessoriaCartoesApi/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
AssessoriaCartoesApi/obj/Debug/net5.0/apphost.exe
AssessoriaCartoesApi/obj/Debug/net5.0/AssessoriaCartoesApi.assets.cache
AssessoriaCartoesApi/obj/Debug/net5.0/AssessoriaCartoesApi.csproj.FileListAbsolute.txt
AssessoriaCartoesApi/obj/project.assets.json
AssessoriaCartoesApi/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
AssessoriaCartoesApi/obj/Release/net5.0/apphost.exe
AssessoriaCartoesApi/obj/Release/net5.0/AssessoriaCartoesApi.AssemblyInfo.cs
AssessoriaCartoesApi/obj/Release/net5.0/AssessoriaCartoesApi.AssemblyInfoInputs.cache
AssessoriaCartoesApi/obj/Release/net5.0/AssessoriaCartoesApi.assets.cache
AssessoriaCartoesApi/obj/Release/net5.0/AssessoriaCartoesApi.csproj.AssemblyReference.cache
AssessoriaCartoesApi/obj/Release/net5.0/AssessoriaCartoesApi.csproj.CopyComplete
AssessoriaCartoesApi/obj/Release/net5.0/AssessoriaCartoesApi.csproj.CoreCompileInputs.cache
AssessoriaCartoesApi/obj/Release/net5.0/AssessoriaCartoesApi.csproj.FileListAbsolute.txt
AssessoriaCartoesApi/obj/Release/net5.0/AssessoriaCartoesApi.dll
AssessoriaCartoesApi/obj/Release/net5.0/AssessoriaCartoesApi.GeneratedMSBuildEditorConfig.editorconfig
AssessoriaCartoesApi/obj/Release/net5.0/AssessoriaCartoesApi.genruntimeconfig.cache
AssessoriaCartoesApi/obj/Release/net5.0/AssessoriaCartoesApi.MvcApplicationPartsAssemblyInfo.cache
AssessoriaCartoesApi/obj/Release/net5.0/AssessoriaCartoesApi.MvcApplicationPartsAssemblyInfo.cs
AssessoriaCartoesApi/obj/Release/net5.0/AssessoriaCartoesApi.pdb
AssessoriaCartoesApi/obj/Release/net5.0/AssessoriaCartoesApi.RazorTargetAssemblyInfo.cache
AssessoriaCartoesApi/obj/Release/net5.0/ref/AssessoriaCartoesApi.dll
AssessoriaCartoesApi/obj/Release/net5.0/staticwebassets/AssessoriaCartoesApi.StaticWebAssets.Manifest.cache
AssessoriaCartoesApi/obj/Release/net5.0/staticwebassets/AssessoriaCartoesApi.StaticWebAssets.xml
